@model List<RentalDetails>
<div class="wrap">
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Movie title</th>
            <th scope="col">Average score</th>
            <th scope="col">Number of rentals of the film</th>
            @if (User.IsInRole("Manager"))
            {
                <th scope="col">Number of copies in the store</th>
                <th scope="col">Number of delays per film</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Count; i++)
        {
            <tr>
                <th scope="row">@(i + 1)</th>
                <td>@Model[i].Title</td>
                        @if(Model[i].AvgScore == 0)
                        {
                            <td>No score</td>
                        }
                        else{
                            <td>@Model[i].AvgScore.ToString("0.##")</td>
                        }
                <td>@Model[i].NumberOfRentals</td>
                @if(User.IsInRole("Manager"))
                {
                    <td>@Model[i].FilmCopies</td>
                    <td>@Model[i].NumberOfDelays</td> 
                }
            </tr>
        }
    </tbody>
</table>
</div>
