@using Movie_rental.Entities;
@model List<Rental>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Rental date</th>
            <th scope="col">Return date</th>
            <th scope="col">Customer Id</th>
            <th scope="col">Inventory Id</th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Count; i++)
        {
            <tr>
                <th scope="row">@(i + 1)</th>
                <td>@Model[i].RentalDate</td>
                <td>@Model[i].ReturnDate</td>
                <td>@Model[i].CustomerId</td>
                <td>@Model[i].InventoryId</td>
            </tr>
        }
    </tbody>
</table>