@model List<ReservationModel>
@{
    if (User.IsInRole("Customer") && ViewData["ShowAlert"] != null)
    {
        string alert = ViewData["AlertMessage"].ToString();
        // show alert
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>@alert</strong>
        </div>
    }
}
<h1>Available Films to rent at the moment</h1>
<div class="wrap">
<table class="table table-striped" id="film-table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Film title</th>
            <th scope="col">Availability</th>
            <th scope="col">Reserve</th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Count; i++)
        {
            <tr>
                <th scope="row">@(i + 1)</th>
                <td>@Model[i].FilmTitle</td>

                @if (Model[i].AvailableCopies > 0)
                {
                    <td>
                        <strong>
                            <span class="text-success">Available</span>
                        </strong>
                    </td>
                    <td>
                        <form method="post">
                            <input type="hidden" name="filmId" value="@Model[i].FilmId" />
                            <input type="hidden" name="inventoryId" value="@Model[i].InventoryId" />
                            <button type="submit" class="btn btn-sm btn-primary disabled-button">Select</button>
                        </form>
                    </td>
                }
                else
                {
                    <td>
                        <strong>
                            <span class="text-danger">Unavailable</span>
                        </strong>
                    </td>
                    <td>
                        <form method="post">
                            <input type="hidden" name="filmId" value="@Model[i].FilmId" />
                            <input type="hidden" name="inventoryId" value="@Model[i].InventoryId" />
                            <button disabled type="button" class="btn btn-sm btn-primary disabled-button">Select</button>
                        </form>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
</div>

@section Scripts {
    <script>
        // Add this script to handle button disable/enable based on alarm status
        var showAlert = @((User.IsInRole("Customer") && ViewData["ShowAlert"] != null) ? "true" : "false");

        if (showAlert) {
            // Disable the button and change cursor style
            document.querySelectorAll('.disabled-button').forEach(function (button) {
                button.setAttribute('disabled', 'true');
                button.style.cursor = 'not-allowed';
            });
        }
    </script>
}
